button {
    background-color: transparent;
    border: 6px solid rgb(50, 207, 255);
    outline: 3px rgb(50, 207, 255);;
    }
    .special {
    background-color:rgb(131, 226, 255) ;
    }
    
    h5 {
        font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    h1 {
          font-family: "Atkinson Hyperlegible", sans-serif;
          font-weight: 700;
          font-style: normal;
    }
    
    div {
        font-family: "Atkinson Hyperlegible", sans-serif;
        font-weight: 100;
        font-style: normal;
    
    }
    
    #BreadTitle {
      text-align: center;
      line-height: 0.4rem;
    }
    
    #Beta {
      text-align: center;
      line-height: 0.5rem;
    }
    
    #breadTooth {
      text-align: center;
    }
    
    body {
      line-height: 1.5;
      font-size: 40px;
      outline: 0.1rem solid rgb(68, 236, 255);
      padding-top: 2.5rem;
      padding-right: 2.5rem;
      padding-bottom: 4rem;
    }
    
    .section-title {
      font-size: 50px;
      font-size: 2.8rem;
    }
    
    .section {
      width: 100%;
      font-size: 0rem;
      height: 12.8rem;
      padding-left: 2.8rem;
    }
    .Tbutton {
      font-size: 2.4rem;
      touch-action: manipulation;
      height: 86px;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.5;
      padding-bottom: 0.5;
    }
    
    #aggression-slider {
      width: 98%;
     color: rgb(130, 255, 255);
     height: 1rem;
     margin: 0% auto;
    }

    .slider-container {
      width: 97%;
    max-width: 970px;
    position: relative;
  
    }

    .Tbutton {
      font-size: 2.5rem;
    
    }

    html {
      padding-top: 12rem;
    }
    input[type="range" ] {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      background: transparent;
      position: relative;
      z-index: 2;
    }
  
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: var(--track-hight);
      background: rgb(201, 232, 255);
      border-radius: 10px;
      height: 18px;
      
    }
  
    input[type="range"]::-moz-range-track {
      width: 100%;
      height: var(--track-hight);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
    
    }
     
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 100%;
      margin-top: -10px;
  
      
      
  
    }
    input[type="range"]::-moz-slider-thumb {
      appearance: none;
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 100%;
      margin-top: -9px;
    }
  
    html {
      background-color: black;
    }

    